.fullscreen {
    // position must be fixed to avoid
    // pull-down pull-up scrolling on iPad
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ratio {
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;

    // the padding is taken into consideration when calculating runtime sizes
    padding: 10px;

    // width and height is maintained by javascript
    // left and top is maintained by javascript
    // to ensure integer size on tiles
    // and whole integer positions
}

section.board {
    box-sizing: border-box;
    // the padding is taken into consideration when calculating runtime sizes
}

body {
    background-color: #000;
}