@import 'mixins';
@import 'reset';
@import 'framework';







/*
    debug styles
*/

$debugMode: 1;

@if $debugMode > 0 {
    .ratio {
    }

    /*
    .stone {
        // diagonal shine/shadow on borders
    }
    */

    section, section.board {
    //    display: none;
    }




    .ztest {
        display: none;
        position: absolute;
        left: 5%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #2166aa;
        padding-top: 5%;

        .skew {
            width: 500px;
            height: 500px;

/*

90x90


0






2 5 2 2 4 2 2 4 2 2 5 2


*/
    $light: #663322; // lysest
    $middle: #552211; // nest lysest
    $mellow: #331100; // nest mørkest
    $dark: #221100; // mørkest

    $black: #000000;
    $white: #888888;

    $lighten: #774433;
    $darken: #110800;

$svg: (
    // north east, outside in
    '<path fill="#{$black}" stroke="none" d="M50,5 l45,45 h-10 l-35,-35 Z" />'
    '<path fill="#{$light}" stroke="none" d="M50,7 l43,43 h-20 l-23,-23 Z" />'
    '<path fill="#{$white}" stroke="none" d="M50,22 l28,28 h-15 l-13,-13 Z" />'
    '<path fill="#{$dark}" stroke="none" d="M50,32 l18,18 h-18 Z" />'
    // north west, outside in
    '<path fill="#{$black}" stroke="none" d="M50,5 l-45,45 h10 l35,-35 Z" />'
    '<path fill="#{$middle}" stroke="none" d="M50,7 l-43,43 h20 l23,-23 Z" />'
    '<path fill="#{$white}" stroke="none" d="M50,22 l-28,28 h15 l13,-13 Z" />'
    '<path fill="#{$mellow}" stroke="none" d="M50,32 l-18,18 h18 Z" />'
    // south west, outside in
    '<path fill="#{$black}" stroke="none" d="M50,95 l-45,-45 h10 l35,35 Z" />'
    '<path fill="#{$dark}" stroke="none" d="M50,93 l-43,-43 h20 l23,23 Z" />'
    '<path fill="#{$white}" stroke="none" d="M50,78 l-28,-28 h15 l13,13 Z" />'
    '<path fill="#{$light}" stroke="none" d="M50,68 l-18,-18 h18 Z" />'
    // north west, outside in
    '<path fill="#{$black}" stroke="none" d="M50,95 l45,-45 h-10 l-35,35 Z" />'
    '<path fill="#{$mellow}" stroke="none" d="M50,93 l43,-43 h-20 l-23,23 Z" />'
    '<path fill="#{$white}" stroke="none" d="M50,78 l28,-28 h-15 l-13,13 Z" />'
    '<path fill="#{$middle}" stroke="none" d="M50,68 l18,-18 h-18 Z" />'
    // center
    '<path fill="#{$black}" stroke="none" d="M50,47 l3,3 l-3,3 l-3,-3 Z" />'
);
@include svg($svg, 0, 0, 100, 100);

        }

    }
}